{% extends "base.html" %}

{% block js %}
    <script>
    $(function () {
        BindSendMsg();
    });
    function BindSendMsg() {
        $("#fetch_code").click(function () {
            $("#register_error_summary").empty();
            let email = $("#email").val();
            if(email.trim().length == 0){
                $("#register_error_summary").text("请输入注册邮箱")
            }
            if($(this).hasClass("sending")){
                return
            }
            let ths = $(this);
            let time = 60;
            $.ajax({
                url: "/app01/send_msg/",
                type: "POST",
                data: {email: email},
                dataType: 'json',
                success: function (data) {
                    if(!data.status){
                        $("#register_error_summary").text(data.summary)
                    }else{
                        ths.addClass("sending");
                        let interval = setInterval(function () {
                            ths.text("已发送("+ time +")");
                            time -= 1;
                            if(time <= 0){
                                clearInterval(interval);
                                ths.removeClass("sending");
                                ths.text("获取验证码");
                            }
                        },1000);
                    }

                }
            })

        })
    }
    function SubmitLogin(ths) {
        $("#login_error_summary").empty();
        $("#model_login .inp .error").remove();

        $(ths).children(":eq(0)").addClass("hide");
        $(ths).children(":eq(1)").removeClass("hide")
        
        let post_dict ={};
        $("#model_login input").each(function () {
            post_dict[$(this).attr("name")] = $(this).val();
        });
        $.ajax({
            url:"/app01/login/",
            data:post_dict,
            dataType:"json",
            type:"POST",
            success:function (data) {
                if(data.status){
                    location.reload()
                }else{
                    $.each(data.error,function (k,v) {
                        let tag = document.createElement("span");
                    tag.className = "error";
                    tag.innerText = v[0]["message"];
                    $('#model_login input[name="'+ k +'"]').after(tag)
                    })

                }

            }
        })

    }
    function SubmitRegister(ths) {
        $("#register_error_summary").empty();
        $("#model_register .inp .error").remove();

        $(ths).children(':eq(0)').addClass('hide');
        $(ths).addClass('not-allow').children(':eq(1)').removeClass('hide');

        let post_dict ={};
        $('#model_register input').each(function () {
            post_dict[$(this).attr("name")] = $(this).val();
        });
        console.log(post_dict);
        $.ajax({
            url:"/app01/register/",
            type:"post",
            data:post_dict,
            dataType:'json',
            success:function (data) {
                if(data.status){
                    location.reload()
                }else{
                    $.each(data.error,function (k,v) {
                        console.log(v)
                        var tag = document.createElement("span")
                        tag.className="error";
                        tag.innerText=v[0]["message"];
                        $('#model_register input[name="'+ k +'"]').after(tag)
                    })
                }
            }
        })
    }
    </script>
{% endblock %}

{% block body %}
    <div class="shadow"></div>
    <div id="userInfo" class="user-info clearfix">
        <div id="model_login" class="login left">
            <div class="header">登陆</div>
            <div class="content">
                <div style="padding: 0 70px;">
                    <div class="tips">
                        <span>用户名登陆</span>
                        <span style="padding: 0 5px;">|</span>
                        <span>邮箱登陆</span>
                    </div>
                    <div id="login_error_summary" class="error-msg">

                    </div>
                    <div class="inp">
                        <input name="user" type="text" placeholder="请输入用户名或邮箱">
                    </div>
                    <div class="inp">
                        <input name="pwd" type="text" placeholder="请输入密码">
                    </div>
                    <div class="inp clearfix">
                        <input name="code" class="check-code" type="text" placeholder="请输入验证码">
                        <span>
                            <img class="check-img" src="/app01/check_code/" alt="验证码" onclick="ChangeCode(this);">
                        </span>
                    </div>
                    <div class="extra">
                        <input type="checkbox" name="autoLogin" checked="checked"><span>一个月</span>
                        <a class="right" href="javascript:void(0);">忘记密码</a>
                    </div>
                    <div class="inp">
                        <div class="submit" onclick="SubmitLogin(this);">
                            <span>登陆</span>
                            <span class="hide">
                                <img src="/statics/images/loader.gif" style="width: 20px;height: 20px">
                                <span>正在登陆</span>
                            </span>
                        </div>
                    </div>
                </div>
                <script>

                </script>
            </div>
        </div>
        <div id="model_register" class="register left">
        <div class="header">
            <span>注册</span>
            <div class="dialog-close" onclick="CloseInfo('#userInfo');">X</div>
        </div>
        <div class="content">
            <div style="padding: 0 70px;">
                <div class="tips">
                    <span>输入注册信息</span>
                </div>
                <div id="register_error_summary" class="error-msg">

                </div>
                <div class="inp">
                    <input name="username" type="text" placeholder="请输入用户名" />

                </div>
                <div class="inp">
                    <input name="email" id="email" type="text" placeholder="请输入邮箱" />
                </div>
                <div class="inp">
                    <input name="email_code" class="email-code" type="text" placeholder="请输入邮箱验证码">
                    <a id="fetch_code" class="fetch-code" href="javascript:void(0);">获取验证码</a>
                </div>
                <div class="inp">
                    <input type="password" name="password" placeholder="请输入密码">
                </div>
                <div class="inp">
                    <div class="submit" onclick="SubmitRegister(this);">
                        <span>注册</span>
                        <span class="hide">
                            <img src="/statics/images/loader.gif" style="height: 20px;width: 20px">
                            <span>正在注册</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}